<a href="https://colab.research.google.com/github/FlorLaReinaMunoz/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Flor_Munoz_Unit_1_Mod_1_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [89]:
import pandas as pd

! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-03-15 23:02:33--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.3’

LoanStats_2018Q4.cs     [                 <=>]  21.71M   913KB/s    in 25s

2020-03-15 23:02:58 (906 KB/s) - ‘LoanStats_2018Q4.csv.zip.3’ saved [22763850]

In [90]:
! unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [91]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.shape

(128284, 144)

In [92]:
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [93]:
#Convert the term column from string to integer.
term = '60 months'
term.strip( ).strip('months')

'60 '

In [94]:
#dropped the words, now make it an integer
int(60)

60

In [95]:
int(term.strip().strip('months'))

60

In [0]:
#make a function we can use to apply to a column
def myfunc(cell_contents):
  return int(cell_contents.strip().strip('months'))

In [97]:
myfunc(term)

60

In [0]:
#start column application
new_list=[]

In [0]:
for cell in df['term']:
  new_list.append(myfunc(cell))

In [100]:
new_list[:10]

[60, 36, 36, 60, 60, 36, 60, 36, 36, 36]

In [101]:
#so now we have two columns
df['term_cleaned']=pd.Series(new_list)
df[['term', 'term_cleaned']].head()

         term  term_cleaned
0   60 months            60
1   36 months            36
2   36 months            36
3   60 months            60
4   60 months            60

In [0]:
#now run this over the whole column
df['term']=df['term'].apply(myfunc)

In [103]:
df['term'].head()

0    60
1    36
2    36
3    60
4    60
Name: term, dtype: int64

In [0]:
#Make a column named loan_status_is_great. 
#It should contain the integer 1 if loan_status is "Current" or "Fully Paid." 
#Else it should contain the integer 0.

In [118]:
df['loan_status'].value_counts()

Current               92485
Fully Paid            24821
Charged Off            6766
Late (31-120 days)     2210
In Grace Period        1405
Late (16-30 days)       486
Default                 111
Name: loan_status, dtype: int64

In [0]:
def loan_status_is_great():
  for values in df['loan_status']:
    if isinstance(loan_status, 'Current') or isinstance(loan_status, 'Fully Paid'):
      return 1
    else:
      return 0

In [0]:
#troll assist
'''newlist = []
For loan in df[“loan status”]:
   If loan.lower() == “current” or loan.lower() ==  “fully paid”:
   newlist.append(1)
  Else:
    newlist.append(0)'''

In [131]:
 loan_status_is_great()

TypeError: ignored

In [0]:
df['loan_status_is_great'].value_counts()

In [0]:
#Make last_pymnt_d_month and last_pymnt_d_year columns.
df['last_pymnt_d']

In [0]:
#turn those alpha numerics into fancy slightly inaccurate numerics
df['last_pymnt_edit'] = pd.to_datetime(df['last_pymnt_d'])
df[['last_pymnt_edit', 'last_pymnt_d']]

In [0]:
#time to make a col for the last payment year
df['last_pymnt_d_year']=df['last_pymnt_edit'].dt.year
df[['last_pymnt_edit', 'last_pymnt_d_year']]

In [0]:
#why is this float?
df['last_pymnt_d_year'].head()

In [0]:
#make another column for the last payment month
df['last_pymnt_d_month']=df['last_pymnt_edit'].dt.month
df['last_pymnt_d_month']

In [0]:
#why is this a float too?
df['last_pymnt_d_month'].head()

In [0]:
#I really tried to make this look less painful, but apparently 
#the correct answer is to somehow make the numbers strings
#and then make them into integers
#frankly it's not that important to me
int(round(df['last_pymnt_d_month']))

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01